.container form {
  margin-top: 50px;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid whitesmoke;
}
form input:focus {
  box-shadow: none !important;
}
